<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>gt5kv2v705Pzlfv1KQR0rb2ELHetvPE3</string>
  <key>Domain</key>
  <string>gamehub.eu.auth0.com</string>
</dict>
</plist>
